.body
{
    padding: 16px 0;

    border-bottom: 1px solid #ccc;
}
.body header, 
.posts header {
	margin-bottom: 20px;
}

.posts .post {
	padding-left: 10px;
	border-left: 3px solid #E15555;
	margin-bottom: 30px;
}

.posts .post .info {
	color: #aaa;
	font-style: italic;
}

.error {
	border: 1px solid #F82F2F;
	
	color: #B00B0B;
}

.error ul{
	list-style: none;
	padding: 0;
	margin: 0;
}
.success {
	border: 1px solid green;
	
	color: #03C01E;
}

.success ul{
	list-style: none;
	padding: 0;
	margin: 0;
}

.error,
.success {
	text-align: center;
}